.wrapper{
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif ;
}
.clearFix{
    content: '';
    display: table;
    clear: both;
}
/*--------Шапка странички*/
.head_container{
    width: 100%;
    height: 890px;
    background-image: url(../img/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top left;

}
.head_content{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.logo{
    margin-bottom: 60px;
}
.logo img{
    width: 75px;
    height: 75px;
    margin-top: 30px;
}
.navigation{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 60px;
}
.navigation ul{
   padding: 0;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.navigation li{
    float: left;
}
.navigation a{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.navigation a:hover{
    border-bottom: 3px solid #ffffff;
}
.commercial{
    margin-right: 150px;
}
.industrial{
    margin-right: 145px;
}
.infrastructure{
    margin-right: 135px;
}
.head_content h1{
    font-size: 52px;
    font-weight: 400;
    color: #FFF;
    width: 500px;
    line-height: 62px;
    margin-bottom: 20px;
}

.head_content p{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    width: 410px;
    line-height: 25px;
    text-align: justify;
}
.head_content h1, .head_content p{
    text-shadow: 1px 1px 1px rgb(106,176, 169),
                 -1px 0 1px rgb(106,176, 169);
}

/*-----------------//-------------*/

/*---------------СТИЛИ КОНТЕНТА-----------*/

.main{
    position: relative;
    width: 960px;
    margin: 0 auto;
    margin-top: 108px;
    margin-bottom: 87px;
    height: 100%;
}
.main_sidebar{
    width: 310px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #eaeaea;
}
.main_sidebar p{
    padding-right: 35px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    color: #feb067;
}

.main_content{
    width: 590px;
    padding-left: 10px;
    padding-bottom: 90px;
    float: left;
    margin-left: 360px;
    height: 100%;
}
.main_content h1{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #feb067;
    margin-bottom: 25px;
    text-shadow: -1px 0 0 #ffe8d6;
}
.main_content p{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #737c85;
    text-shadow: 1px -1px 0 #e0e2e4;
}
.main_content a{
    color: #737c85;
    border-bottom: 2px solid #c0c4c7;
}
.main_content a:hover{
    color: green;
    border-bottom: 2px solid lightgreen;
}
/*---------------//---------------*/

/*-------------Подвал*/

footer{
    background-color: #e77370;
    padding-top: 50px;
    padding-bottom: 180px;
    border-bottom: 40px solid black;

}
.footer_content{
    margin: 0 auto;
    width: 960px;

}
.contacts{
    width: 300px;
    float: left;
    color: white;
    font-size: 14px;
}
.contacts h1{
    padding-top: 10px;
    margin-bottom: 15px;
}
.contacts p{
    margin-bottom: 20px;
}
.footer_nav{
    width: 650px;
    float: left;
    margin-left: 10px;
}
.floating{
    width: 122px;
    float: left;
    margin-left: 20px;
}
.floating h1, .contacts h1{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.floating ul{
    padding-left: 0;

}
.floating li{
    padding-top: 15px;
}
.floating a, .contacts a{
    color: #fff;
    font-size: 14px;
}
.floating a:hover, .contacts a:hover{
    border-bottom: 1px solid white;
}

.services{
    margin-left: 0;
}
.careers{
    width: 82px;
}
/*----------------//--Подвал---*/